* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fffbff;
    background-image:
        radial-gradient(at 61% 4%, rgb(131, 48, 48) 0px, transparent 50%),
        radial-gradient(at 75% 66%, rgb(255, 255, 255) 0px, transparent 50%),
        radial-gradient(at 98% 88%, rgb(145, 170, 70) 0px, transparent 50%),
        radial-gradient(at 23% 16%, rgb(248, 248, 248) 0px, transparent 50%),
        radial-gradient(at 95% 65%, rgb(22, 28, 146) 0px, transparent 50%),
        radial-gradient(at 10% 79%, rgb(41, 201, 65) 0px, transparent 50%),
        radial-gradient(at 85% 58%, rgb(232, 24, 128) 0px, transparent 50%);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 0;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}

.lock-icon {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
}

.passInput {
    margin-top: 15px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 15px;
    color: white;
    outline: none;
}

button {
    margin-top: 15px;
    width: 80%;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}