@import url("https://fonts.googleapis.com/css2?family=Baloo 2&family=Roboto:wght@300&display=swap");
body{
    background-image: url("https://img.freepik.com/free-photo/pastel-blue-vignette-concrete-textured-background_53876-102637.jpg?size=626&ext=jpg&ga=GA1.1.1816273297.1678895247&semt=ais");

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", cursive;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 10rem;
    
}

.badge {
    text-transform: uppercase;
    color: #5576d1;
    letter-spacing: 1px;
    font-size: 18px;
    
}

.heading {
    font-size: 26px;
    margin: 20px 0;
}

.card_group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.pricing-card {
    margin: 20px 30px;
    height: 400px;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s ease-in-out;
    padding: 16px 14px;
    border-radius: 10px;
    border: 2px solid rgb(54, 29, 42);

}

.pricing-card i {
    color: #5576d1;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    border-radius: 50%;
    box-shadow: 0 0 34px -12px gray;
}

.pricing-card span {
    color: #3A3B3C ;
    margin: -10px 0;
    font-weight: bold;
    font-size: 14px;
}

.price {
    font-size: 30px;
    font-family: "Baloo 2";
}

.package_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.package_list li {
    list-style: none;
    margin: 6px 0;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.get_started_btn {
    color: white;
    padding: 8px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    background-color: black;
}

.get_started_btn:hover {
    background: transparent;
color: black;
}